extends ../layout
block content
  .projectformbackground
    .addprojectpart
     .container
      .addprojectbackgroundpart
       .titleprojectedit
        .titlesubmit
          .form-group
            .input-field
              input.entertitle(name='title', placeholder='Enter Ad Title')
        .Taddbackground
          .TbackgroundImage
            img#Mainbackground.Tbackground(src='../images/Tbackground.jpg')
            button#Uploadimage.uploadimage Upload
        .Baddbackground
         .row
          .BMbackground
            .col.s4
             .BLaddbackground
               .BLbackground
                img.BLbackgoundimage(src='../images/Bbackground.jpg')
                button.BLupload Upload
            .col.s4
             .BMaddbackground
               .BMbackground
                img.BMbackgoundimage(src='../images/Bbackground.jpg')
                button.BMupload Upload
            .col.s4
             .BRaddbackground
               .BRbackground
                img.BRbackgoundimage(src='../images/Bbackground.jpg')
                button.BRupload Upload
            button.save SAVE
              i.material-icons.right save