extends ../layout

block content

 form(method='post', action='/project/save',enctype='multipart/form-data')
  .form-group
   label title
   input.form-control(name='title', type='text', placeholder='Enter Name')
  .form-group
   label Cover Image
   input.form-control(name='coverimage', type='file')
   .form-group
   label Background Image
   input.form-control(name='background_image_one', type='file')
   .form-group
   label Background Image
   input.form-control(name='background_image_two', type='file')
  .form-group
   label Background Image
   input.form-control(name='background_image_three', type='file')
  input.btn.btn-primary(type='submit', )


//
  extends ../layout
  block content
    .container#rootDiv
      .form(method='post', action='/project/save',enctype='multipart/form-data')
        .form-group
          .row
            .card
              .card-image.waves-effect.waves-light
                img#coverImage.activator(src="#{ coverPictureUrl }")
                .card-title
                  .input-field
                    .file-field.input-field.right
                      .btn
                        | Change image
                        input(id="coverImagePicker", type='file', onchange="changeCoverImage()", name="coverPicture")
        .row
          .form-group
            .input-field
              input(name="title", placeholder="Enter Ad Title")
        .row
          h4
            b(style="color:#26a69a") Choose a background image
          .col.s4
            input.form-control(name='image_one', type='file')
            // img.responsive-img(style="height:100%;width:100%", src="https://placehold.it/500x500?text=select image")

          .col.s4
            input.form-control(name='image_two', type='file')
            // img.responsive-img(style="height:100%;width:100%", src="https://placehold.it/500x500?text=select image")
          .col.s4
            input.form-control(name='image_three', type='file')
            // img.responsive-img(style="height:100%;width:100%", src="https://placehold.it/500x500?text=select image")
        .row
          button.btn.waves-effect.waves-light(type='submit', name='action', value='imageUpload')
            | Submit
            i.material-icons.right send
