extends ../layout

block content
    .container
        .row
            .card
                .card-image.waves-effect.waves-light
                    img.activator(src="#{ coverPictureUrl }")
                    .card-title
                        .input-field
                            .file-field.input-field.right
                                .btn
                                    | Change image
                                    input(type='file', onchange="changeCoverImage()")


        .row
            | this is body
        .row
            | this is buttons
