// extends ../layout
link(href='/stylesheets/fb.css', rel='stylesheet')
block content
    .canvaswrapper
      .canvaswrapperbody
        .container-wrapper
          .ImageCanvas
            .Imageuse
              p.imagetouse Image to use:
              .screamImageLMR
                .ImageBackgroundcanvas
                  .screamImage
                    .screamL
                      img#scream.screamresponsive(src= "../uploads/#{project.background_image.background_image_one}" , alt='The Scream')
                  .screamImage
                    .screamM
                      img#scream2.screamresponsive(src="../uploads/#{project.background_image.background_image_two}", alt='The Scream')
                  .screamImage
                    .screamR
                      img#scream3.screamresponsive(src='../uploads/#{project.background_image.background_image_three}', alt='The Scream')
            .canvasdesgin
              p.canvas-text Canvas:
              .mycanvasdesgin
                canvas#myCanvas(width='500', height='400', style='border:1px solid #d3d3d3;') Your browser does not support the HTML5 canvas tag.
                .file-text-Buttons
                  input#the-textbox(type='text')
                  input#textbox-button(type='button', value='hello')
                  input#fileUpload(type='file')
            p
              strong Note:
              |  The canvas tag is not supported in Internet Explorer 8 and earlier versions.
           input#save-button(type='button', value='Ok I Am Done')