// extends ../layout
link(href='/stylesheets/fb.css', rel='stylesheet')
block content
    .canvaswrapper
      .canvaswrapperbody
        .container-wrapper
          .ImageCanvas
            .Imageuse
              p.imagetouse Image to use:
              .hideImage
                img#hideimage.center.responsive-img(src="/uploads/#{project.cover_image}")
              .screamImageLMR
                .ImageBackgroundcanvas
                  .screamImage
                    .screamL
                      img#backgroundleft.screamresponsive(src= "../uploads/#{project.background_image.background_image_one}" , alt='The Scream')
                  .screamImage
                    .screamM
                      img#backgroundmiddle.screamresponsive(src="../uploads/#{project.background_image.background_image_two}", alt='The Scream')
                  .screamImage
                    .screamR
                      img#backgroundright.screamresponsive(src='../uploads/#{project.background_image.background_image_three}', alt='The Scream')
            .canvasdesgin
              p.canvas-text Canvas:
              .mycanvasdesgin
                canvas#myCanvas(width='500', height='400', style='border:1px solid #d3d3d3;') Your browser does not support the HTML5 canvas tag.
                .file-text-Buttons
                  textarea#the-textbox.textareapart(rows='5', cols='50',type='text', placeholder='Add your text...')
                  input#textbox-button(type='button', value='Submit Text')
                .uploadbutton-Fbbutton
                  p.upload-text Upload a Pic
                  .image-upload
                    label(for='file-input')
                      img(src='../images/profile.png')
                    input#facebook-input(type='file')
                  .image-upload
                   label(for='file-input')
                    img(src='../images/foldericon.png')
                   input#file-input(type='file')
            p.note-text
              strong Note:
              |  The canvas tag is not supported in Internet Explorer 8 and earlier versions.
           input#save-button(type='button', value='Ok I Am Done')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="/lib/facebook_SDK.js");
script(src="/js/canvas.js")