// extends ../layout
link(href='/stylesheets/fb.css', rel='stylesheet')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
block content
    .canvaswrapper
      .canvaswrapperbody
        .container-wrapper
          .ImageCanvas
            .Imageuse
              p.imagetouse Image to use:
              .hideImage
                img#hideimage.center.responsive-img(src="/uploads/#{project.cover_image}")
              .screamImageLMR
                .ImageBackgroundcanvas
                  .screamImage
                    .screamL
                      img#backgroundleft.screamresponsive(src= "../uploads/#{project.background_image.background_image_one}" , alt='The Scream')
                  .screamImage
                    .screamM
                      img#backgroundmiddle.screamresponsive(src="../uploads/#{project.background_image.background_image_two}", alt='The Scream')
                  .screamImage
                    .screamR
                      img#backgroundright.screamresponsive(src='../uploads/#{project.background_image.background_image_three}', alt='The Scream')
            .canvasdesgin
              p.canvas-text Canvas:
              .mycanvasdesgin
                canvas#myCanvas(width='500', height='400', style='border:1px solid #d3d3d3;') Your browser does not support the HTML5 canvas tag.
                .file-text-Buttons
                  textarea#the-textbox.textareapart(rows='5', cols='50',type='text', placeholder='Add your text...')
                  input#textbox-button(type='button', value='Submit Text')
                .uploadbutton-Fbbutton
                  p.upload-text Upload a Pic
                  button#facebook-input.image-button(data-toggle='modal', data-target='#myModal')
                   img(src='../images/profile.png')
                  .image-upload
                   label(for='file-input')
                    img(src='../images/foldericon.png')
                   input#file-input(type='file')
            p.note-text
              strong Note:
              |  The canvas tag is not supported in Internet Explorer 8 and earlier versions.
           input#save-button(type='button', value="Ok I'M Done!")
 #myModal.modal.fade(role='dialog')
  .modal-dialog
   .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h4.modal-title FaceBook Photos
    #facebook-image-holder.modal-body
     p Select any once of it
    .modal-footer
      button#oksubmit.ok Select
      button.btn.btn-default(type='button', data-dismiss='modal') Close
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="/lib/facebook_SDK.js")
script(src="/js/canvas.js")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
