extends layout

block content
  .container
    .row
      if projects
        h3
          b My Projects
          hr
        for project in projects
          .col.s12.m6.l3
            .card.small
              a(href='/project/#{project._id}')
                .card-image.waves-effect.waves-block.waves-light
                  img.activator(src='#{project.cover_image}')
                .card-content
                  span.card-title.activator.grey-text.text-darken-4
                    | #{project.title}
      else
        h4 You have no projects, add one!