doctype html
html
  head
    title #{title}
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css' rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
    link(href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css")
    link(href="stylesheets/filepicker.default.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/stylesheets/fb.css', rel='stylesheet')  
  body
    .wrapperProject
      .projectheader
        .container
          .headerproject
            .projectheaderL
              .headertitle
                h1.titlecampagin
                 a.text-fire(href='/') Campaign Fire
            if user      
              .projectheaderR
                .rightheader
                 .userphototitle
                   button.profilewrapper
                     .profileImage
                       .profileImagewrapper
                         img.Imageprofile(src='#{user.profileimage}')
                     span.profileName(href='#') #{user.displayName}
                 .dropdown
                    button.down 
                     i.fa.fa-sort-desc.sortdesc
                     .dropdownmenu(style='display:none;')
                       span.arrowM
                         img(src='../images/arrow.png')
                       .dropdownmenuP
                          ul.dropdownmenuwrapper
                            li
                              a.anchor(href='/about') About us
                            li
                              a.anchor(href='/users/logout') Logout
       .projecttitlewrapper
         .projectbackground
           .container
             .titleproject
                h1.title-PH MY PROJECTS
       !=messages()
         block content
      if user 
        block floatingAddButton
        
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js")
  script(src="/lib/jquery.filepicker.min.js")
  script(src="/lib/materialize.min.js")
  script(src="/js/index.js")
  
 