extends layout

block content
  br
  .container.jumbotron
    h2.center-align Campaign Fire
    h6.center-align Make quality facebook ads with ease, login using your facebook app to get started!

    .center-align
      .collapse
          #login-by.login-with
            .facebook-login
              p.text-fb
                a(href='/users/auth/facebook')
                  strong.img-fb
                   img(src='../images/fb.png')
                  span.connect-fb Continue with Facebook    