extends layout

block content
  br
  .container.jumbotron
    h2.center-align Campaign Fire
    h6.center-align Make quality facebook ads with ease, login using your facebook app to get started!

    .center-align
      .collapse
        a(href="/users/auth/facebook")
          img(src='/images/facebook.png', alt='')
        .center-align
          a(href="/users/auth/facebook")
            | Login via Facebook