extends layout
script.
  var changePermissions = function(){
  	console.log('fun called');
  }

block content
  .container
    table
      thead
        tr
          th Users List
          th Permission
      tbody
        for userdata in data
          tr
            td #{userdata.displayName}
            td
              select(style='display:block' id='selectOption'+data.indexOf(userdata))
                option(id='option0' value='#{userdata.facebook_id}') User
                option(id='option1' value='#{userdata.facebook_id}') Admin
        button(onclick='changePermissions(#{data.length})') Save