extends layout

block content
  .container#rootDiv
    h2.header Register
    ul.errors
    if errors
      each error, i in errors
        div.alert.alert-danger #{error.msg}
    form(method="post", action="/users/register", enctype="multipart/form-data")
      .form-group
        .input-field
          label Name
          input.form-control(name="name" , type="text")
      .form-group
        .input-field
          label Email
          input.form-control(name="email" , type="email")
      .form-group
        .input-field
          label Password
          label Password
          input.form-control(name="password" , type="password")
      .form-group
        .input-field
          label Confirm Password
          input.form-control(name="password2" , type="password")
      .form-group
        .input-field
          .file-field.input-field
            .btn
              span File
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
      input.btn.btn-primary.waves-effect.waves-light(type="submit", name="submit", value="Register")