doctype html
html
  head
    meta(property='og:url', content='http://www.your-domain.com/your-page.html')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Your Website Title')
    meta(property='og:description', content='Your description')
    meta(property='og:image', content='http://www.your-domain.com/path/image.jpg')
    link(href='/stylesheets/fb.css', rel='stylesheet')
    script(src="/lib/facebook_SDK.js")
  body
   .facebook-share
    .facebookshare-bcakground
      .facebookshare-wrapper
         .facebooksharepart
           .facebookshareimages
             img.facebookshare(src='')