link(href='/stylesheets/fb.css', rel='stylesheet')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
script(src="/lib/facebook_SDK.js")
.preview-image
   .preview-bcakground
      .preview-wrapper
         .previewpart
           .previewimages
             img.preview(src='../../../uploads/#{result.image}')
           .previewbuttons
             #fbshare.facebookshare
               #fbshareicon.fb-share-button(data-href='https://192.168.1.106:3000/project/57567cc92fa4e43c0e38a7f7?ref=page_internal&image=#{result.image}')
             a.downloadimage(href='../../../uploads/#{result.image}', download='user.png')
              i.fa.fa-download
              b.download Download
            