link(href='/stylesheets/fb.css', rel='stylesheet')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
.preview-image
   .preview-bcakground
      .preview-wrapper
         .previewpart
           .previewimages
             img.preview(src='http://www.kbizsoft.com/wp-content/uploads/2015/03/facebook.png')
           .previewbuttons
             div.facebookshare
               i.fa.fa-facebook
               b.share SHARE
             button.downloadimage
              i.fa.fa-download
              b.download DOWNLOAD