link(href='/stylesheets/fb.css', rel='stylesheet')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
script(src="/lib/facebook_SDK.js")
.preview-image
   .preview-bcakground
      .preview-wrapper
         .previewpart
           .previewimages
             img.preview(src='http://www.kbizsoft.com/wp-content/uploads/2015/03/facebook.png')
           .previewbuttons
             div.facebookshare
               a(href='http://www.facebook.com/share.php?u=https://10.42.0.73:3000/project/5742dced540e2dd24e53e290&title=pimplify', onclick="window.open(this.href, 'mywin',\'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" )
                 i.fa.fa-facebook.fbifa
                 b.share SHARE
             button.downloadimage
              i.fa.fa-download
              b.download DOWNLOAD
             