body
{
    margin: 0px;
}
ul.success li
{
	padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;list-style: none;
}

ul.error li
{
	padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;color: #a94442;background-color: #dff0d8;border-color: #d6e9c6;list-style: none;
}

html 
{
	/*position: relative;min-height: 100%;*/
}
body 
{
	/* Margin bottom by footer height *//*margin-bottom: 60px;min-width: 400px;background: #E9E9E9;*/background: #fff;
}
.page-footer 
{
	position: absolute;bottom: 0;width: 100%;/*!* Set the fixed height of the footer here *!*//*height: 60px;background-color: #ededed;*/
}

.smallCard 
{
	max-height: 25%;max-width:25%;
}

.floatingButton
{
	position: fixed; z-index: 0;bottom: 10%;right: 10%;
}

.jumbotron 
{
	padding-top: 30px;padding-bottom: 30px;margin-bottom: 30px;color: inherit;background-color: #eee;border-radius: 5px;
}
/* LOGIN.JADE PAGE CSS BEGIN */
.centerbackground 
{
    float: left;width: 100%;background: rgba(0,0,0,.3);border-radius: 5px;height: 400px;
}
.campaignContentWrapper 
{
    float: left;width: 100%;height: auto;
}
.campaignContentWrapper 
{
    float: left;width: 100%;height: auto;
}
.campaignfire
{    
    text-align: center;color: #000;font-size: 40px;font-weight: bold;letter-spacing: -1px;text-shadow: 0 2px 6px rgba(0,0,0,0.58);font-family: "Roboto", sans-serif;margin-bottom: 0px;
}
.textCF
{
    text-align: center;font-size: 16px;padding: 0px 20px;font-weight: bold;line-height: 25px;/* text-shadow: 0 2px 6px rgba(0,0,0,0.58); */color: #172F6B;font-family: "Roboto", sans-serif;
}
.login-with 
{
    display: block;margin: 0px auto;float: none;width: 250px;padding: 15px 0px;
}
.facebook-login 
{
    float: left;width: 100%;background: #3B579D;border-radius: 3px;
}
.text-fb 
{
    margin: 0px;float: left;width: 100%;
}
.link-fb
{
    float: left;width: 100%;
}
.img-fb 
{
    float: left;width: auto;border: 1px solid #354D88;padding: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;
}
.connect-fb 
{
    float: left;width: auto;padding: 10px;text-align: center;color: #fff;font-weight: 600;font-family: "Roboto", sans-serif;
}    
@media screen and (max-width:1920px) and (min-width:1200px){
.centertext 
{
    float: none;display: block;margin: 50px auto;width: 500px;min-height: 400px;max-height: 400px;background: url(../images/sbackground.jpg);border-radius: 5px;position: relative;z-index: 0;top: 10%;
}
.loginByfb 
{
    float: left;width: 100%;height: 100%;background: url(../images/background.jpg);
}
.loginBackground 
{
    float: left;width: 100%;height: 100%;background: rgba(0,0,0,.6);
}
}
@media screen and (max-width:1199px) and (min-width:992px){
.centertext 
{
    float: none;display: block;margin: 50px auto;width: 500px;min-height: 400px;max-height: 400px;background: url(../images/sbackground.jpg);border-radius: 5px;position: relative;z-index: 0;top: 10%;
}
.loginByfb 
{
    float: left;width: 100%;height: 100%;background: url(../images/background.jpg);
}
.loginBackground 
{
    float: left;width: 100%;height: 100%;background: rgba(0,0,0,.6);
}
}
@media screen and (max-width:991px) and (min-width:768px){
.centertext 
{
    float: none;display: block;margin: 50px auto;width: 500px;min-height: 400px;max-height: 400px;background: url(../images/sbackground.jpg);border-radius: 5px;position: relative;z-index: 0;top: 10%;
}
.loginByfb 
{
    float: left;width: 100%;height: 100%;background: url(../images/background.jpg);
}
.loginBackground 
{
    float: left;width: 100%;height: 100%;background: rgba(0,0,0,.6);
}
}
@media screen and (max-width:767px) and (min-width:481px){
.centertext 
{
    float: none;display: block;margin:50px auto;width:90%;background: url(../images/sbackground.jpg);border-radius: 5px;position: relative;z-index: 0;height:400px;
}
.loginByfb 
{
    float: left;width: 100%;height: auto;background: url(../images/background.jpg);
}
.loginBackground 
{
    float: left;width: 100%;height: auto;background: rgba(0,0,0,.6);
}
}
@media screen and (max-width:480px) and (min-width:1px){
.centertext 
{
    float: none;display: block;margin:50px auto;width:90%;background: url(../images/sbackground.jpg);border-radius: 5px;position: relative;z-index: 0;height:400px;
}
.loginByfb 
{
    float: left;width: 100%;height: 100%;background: url(../images/background.jpg);
}
.loginBackground 
{
    float: left;width: 100%;height: 100%;background: rgba(0,0,0,.6);
}
}
/* LOGIN.JADE PAGE CSS END */
/* LAYOUT.JADE PAGE CSS BEGIN */
.wrapperProject 
{
    float: left;width: 100%;background: #E9E9E9;
}
.projectheader 
{
    float: left;background-color: #fff;-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);height: 54px;position: fixed;-webkit-transition: opacity 1s ease;transition: opacity 1s ease;width: 100%;z-index: 1;
}
.headerproject 
{
    float: left;width: 100%;padding-top: 10px;
}
.projectheaderL 
{
    float: left;width: 50%;
}
.projectheaderR 
{
    float: left;width: 50%;
}
.headertitle 
{
    float: left;width: 100%;
}
.titlecampagin 
{
    float: left;width: 100%;font-size: 30px;margin: 0px;
}
.abouttitle
{
    float: left;width: 100%;font-size: 30px;margin: 0px;
}
.blockwrapper 
{
    float: left;width: 100%;margin-top: 266px;background: #fff;position: relative;z-index: 0;padding-top: 40px;
}
.rightheader 
{
    float: right;width: auto;
}
.userphototitle 
{
    float: left;width: auto;
}
.dropdown 
{
    float: left;width: auto;
}
.profilewrapper 
{
    -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;background-color: #fafafa;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));background: -webkit-linear-gradient(#fff, #f5f5f5);background: linear-gradient(#fff, #f5f5f5);-webkit-font-smoothing: subpixel-antialiased;-moz-osx-font-smoothing: auto;background-color: #f5f5f5;border: 1px solid #d4d4d4;border-radius: 3px 0 0 3px;-webkit-box-sizing: border-box;box-sizing: border-box;color: #818181;cursor: pointer;outline: none;padding: 4px 6px;position: relative;text-align: left;float: left;width: auto;border-right: transparent;z-index: 0;
}
.profileImage 
{
    float: left;width: auto;padding-right: 10px;
}
.profileName 
{
    padding-right: 10px;
}
.profileImagewrapper 
{
    float: left;width: auto;height: auto;
}
.Imageprofile
{
    float: left;width: 22px;height: 22px;border-radius: 50%;    
}
.sortdesc 
{
    position: relative;z-index: 0;bottom: 2px;
}
.down 
{
    background: #FDFDFD;border: 1px solid #ccc;padding: 4px 10px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;float: left;width: auto;
}
.profilewrapper:focus
{
    background-color: #FDFDFD;
}
.down:focus 
{
    background-color: #FDFDFD;
}
.dropdownmenu 
{
    position: absolute;float: left;width: auto;
}
.dropdownmenuP 
{
    float: left;position: relative;width: 100%;right: 79px;padding: 5px 15px;border-color: #d4d4d4;top: 0px;border-radius: 3px;-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);-webkit-transform: translateZ(0);background: #fff;z-index: 0;
}
.arrowM 
{
    position: relative;float: left;width: auto;z-index: 0;right: 8px;top: 7px;
}
.dropdownmenuwrapper
{
    margin: 0px;float: left;width: 100%;color: #000;
}
.anchor 
{
    float: left;width: 100%;color: #000;
}
.projecttitlewrapper 
{
    float: left;width: 100%;background: url(../images/background.jpg);height: 210px;margin-top: 55px;position: fixed;z-index: 0;
}
.projectbackground 
{
    float: left;width: 100%;height: 100%;background-color: rgba(0,0,0,.7);
}
.titleproject
{
    float: left;width: 100%;text-align: center;height: auto;
}
.title-PH 
{
    color: #fff;float: left;width: 100%;font-size: 40px;padding-top: 50px;font-family: "Roboto", sans-serif;letter-spacing: 0px;text-shadow: 0 2px 6px rgba(0,0,0,0.58);position: relative;z-index: 0;
}
.cardproject 
{
    float: left;width: 100%;height: auto;transition: box-shadow .25s;box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);position: relative;z-index: 0;line-height: 10px;margin-bottom: 30px;
}
.cardlink 
{
    float: left;width: 100%;
}
.cardimage 
{
    float: left;width: 100%;height: auto;
}
.cardcontent 
{
    float: left;width: 93%;height: auto;position: absolute;z-index: 1;bottom: -7px;background: #FFFFFF;left: 15px;padding: 3px 10px;
}
.cardtitleT
{
    float: left;width: 79%;line-height: 26px;
}
.responsiveimages-card
{
    height: 150px !important;width: 100%;
}
.text-fire 
{
    color: #000;
}
.material-icons
{
    color: #000;
}
/* LAYOUT.JADE PAGE CSS END */
/* ADDPROJECT.JADE PAGE CSS BEGIN */
.projectformbackground 
{
    float: left;width: 100%;margin-top: 266px;background: #fff;position: relative;z-index: 0;padding-top: 40px;
}
.addprojectpart 
{
    float: left;width: 100%;height: auto;
}
.addprojectbackgroundpart 
{
    float: left;width: 100%;height: auto;
}
.Taddbackground 
{
    float: left;width: 100%;height: auto;
}
.TbackgroundImage 
{
    float: left;width: 100%;height: auto;
}
.Tbackground 
{
    float: left;width: 100%;height: 500px;border: 1px solid #ccc;
}
.uploadimage:focus
{
   background-color: transparent;
}
.uploadimage 
{
    position: relative;bottom: 54px;z-index: 0;right: 58px;float: right;width: auto;padding: 5px 20px;font-size: 18px;color: #000;text-shadow: 0 1px 0 rgba(0,0,0,0.3);border-color: #000;border: 1px solid #737272;
}
.Baddbackground 
{
    float: left;width: 100%;height: auto;
}
.BMbackground 
{
    float: left;width: 100%;height: auto;
}
.Baddbackground 
{
    float: left;width: 100%;height: auto;
}
.BMbackground 
{
    float: left;width: 100%;height: auto;
}
.BLaddbackground 
{
    float: left;width: 100%;height: auto;
}
.BLbackground 
{
    float: left;width: 100%;height: auto;
}
.BLbackgoundimage 
{
    float: left;width: 100%;height: 300px;border: 1px solid #ccc;
}
.BMaddbackground
{
    float: left;width: 100%;height: auto;
}
.BMbackgoundimage
{
    float: left;width: 100%;height: 300px;border: 1px solid #ccc;
}
.BRaddbackground
{
    float: left;width: 100%;height: auto;
}
.BRbackground
{
    float: left;width: 100%;height: auto;
}
.BRbackgoundimage
{
    float: left;width: 100%;height: 300px;border: 1px solid #ccc;
}
.BLupload 
{
    position: relative;bottom: 47px;z-index: 0;right: 20px;float: right;width: auto;padding: 5px 10px;font-size: 16px;color: #000;text-shadow: 0 1px 0 rgba(0,0,0,0.3);border-color: #000;border: 1px solid #737272;
}
.BLupload:focus
{
    background-color: transparent;
}
.BMupload:focus
{
    background-color: transparent;
}
.BMupload
{
    position: relative;bottom: 47px;z-index: 0;right: 20px;float: right;width: auto;padding: 5px 10px;font-size: 16px;color: #000;text-shadow: 0 1px 0 rgba(0,0,0,0.3);border-color: #000;border: 1px solid #737272;
}
.BRupload
{
    position: relative;bottom: 47px;z-index: 0;right: 20px;float: right;width: auto;padding: 5px 10px;font-size: 16px;color: #000;text-shadow: 0 1px 0 rgba(0,0,0,0.3);border-color: #000;border: 1px solid #737272;
}
.BRupload:focus
{
    background-color: transparent;
}
.save 
{
    float: right;width: 160px;border: 1px solid #ccc;background: #2193F3;padding: 10px 20px;position: relative;z-index: 0;right: 10px;font-size: 18px;color: #fff;
}
.entertitle:focus
{
    border-bottom: 1px solid #ccc !important;box-shadow: 0 1px 0 0 #ccc !important;
}
.filepicker-ui button 
{
    position: relative;bottom: 47px;z-index: 0;right: 20px;float: right;width: auto;padding: 5px 10px;font-size: 16px;color: #000;text-shadow: 0 1px 0 rgba(0,0,0,0.3);border-color: #000;border: 1px solid #737272;
}
.filepicker-ui button:focus
{
    background-color: #DDD;
}
.filepicker-ui input
{
    display: none;
}
#messages 
{
    display: none;
}
.dropdowncontent-A 
{
    padding: 3px 10px !important;color: #000 !important;font-size: 14px !important;
}
li.dropdowncontent-L 
{
    min-height: 30px !important;
}
.save:focus
{
    background-color: #2193F3;
}
/* ADDPROJECT.JADE PAGE CSS END */
/* PROJECT/ID.JADE PAGE CSS BEGIN */
.canvaswrapper 
{
    float: left;width: 100%;height: auto; margin-bottom: 20px;
}
.canvaswrapperbody 
{
    float: left;width: 100%;height: auto;
}
.container-wrapper 
{
    margin: 0px auto;display: block;width: 500px;
}
.ImageCanvas 
{
    float: left;width: 100%;height: auto;
}
.Imageuse 
{
    float: left;width: 100%;height: auto;
}
.screamImageLMR 
{
    float: left;width: 100%;height: auto;
}
.ImageBackgroundcanvas 
{
    float: left;width: 100%;height: auto;
}
.screamImage 
{
    float: left;width: 30%;height: 100px;border: 1px solid #ccc;margin: 0px 7px;
}
.screamL 
{
    float: left;width: 100%;height: auto;
}
.screamM 
{
    float: left;width: 100%;height: auto;
}
.screamR 
{
    float: left;width: 100%;height: auto;
}
.screamresponsive
{
    float: left;width: 100%;height: 100px;
}
.canvasdesgin 
{
    float: left;width: 100%;height: auto;
}
.mycanvasdesgin 
{
    float: left;width: 100%;height: auto;
}
.file-text-Buttons 
{
    float: left;width: 100%;height: auto;margin: 30px 0px;
}
.imagetouse 
{
    font-size: 20px;font-family: sans-serif;float: left;width: 100%;
}
.canvas-text 
{
    float: left;width: 100%;height: auto;font-size: 20px;font-family: sans-serif;
}
.hideImage
{
    display: none;
}
.textareapart 
{
    float: left;width: 100%;height: auto;border-color: #ccc;margin-bottom: 10px;padding: 5px 5px;
}
#textbox-button 
{
    padding: 7px 10px;border: 1px solid #ccc;font-size: 16px;cursor: pointer;
}
.image-upload > input#file-input
{
    display: none !important;
}

.image-upload img
{
    width: 80px;cursor: pointer;
}
.uploadbutton-Fbbutton 
{
    float: left;width: 100%;height: auto;
}
.image-upload 
{
    float: left;width: auto;margin: 0px 20px;
}
.upload-text 
{
    float: left;width: 100%;height: auto;font-size: 20px;font-family: sans-serif;margin-top: 0px;
}
.note-text 
{
    float: left;width: 100%;height: auto;font-size: 16px;font-family: sans-serif;margin-top: 30px;line-height: 24px;
}
#save-button 
{
    padding: 7px 10px;border: 1px solid #ccc;font-size: 16px;cursor: pointer;
}
.image-button 
{
    float: left;width: auto;border: transparent;background: transparent;cursor: pointer;
}
.image-button:focus
{
    outline: transparent;    
}
/* PROJECT/ID.JADE PAGE POPUP CSS BEGIN */
.modalDialog 
{
    position: fixed;font-family:sans-serif;top: 0;right: 0;bottom: 0;left: 0;background: rgba(0, 0, 0, 0.8);z-index: 99999;opacity:0;-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;transition: opacity 400ms ease-in;pointer-events: none;
}
.modalDialog:target 
{
    opacity:1;pointer-events: auto;
}
.modalDialog > div 
{
    width: 500px;position: relative;margin: 10% auto;padding: 5px 20px 13px 20px;border-radius: 10px;background: #fff;background: -moz-linear-gradient(#fff, #999);background: -webkit-linear-gradient(#fff, #999);background: -o-linear-gradient(#fff, #999);
}
.close 
{
    background: #606061;color: #FFFFFF;line-height: 25px;position: absolute;right: -12px;text-align: center;top: -10px;width: 24px;text-decoration: none;font-weight: bold;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;-moz-box-shadow: 1px 1px 3px #000;-webkit-box-shadow: 1px 1px 3px #000;box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #000;
}
#oksubmit 
{
    width: auto;background: #fff;border: 1px solid #ccc;margin-right: 14px;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border-radius: 4px;
}
/* PROJECT/ID.JADE PAGE POPUP CSS END */
/* PROJECT/ID.JADE PAGE CSS END */

.filepicker-preview
{
    display: none;
}

#selected {
    border: 3px solid red;
}