ul.success li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	list-style: none;
}

ul.error li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	list-style: none;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	min-width: 400px;
}
.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/*!* Set the fixed height of the footer here *!*/
	/*height: 60px;*/
	/*background-color: #ededed;*/
}

.smallCard {
	max-height: 25%;
	max-width:25%;
}

.floatingButton{
	position: absolute;
	bottom: 10%;
	right: 10%;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eee;
	border-radius: 5px;
}
#login-by
{
  float: none;width: 25%;display: block;margin: 0px auto;
}
.facebook-login 
{
    width: 100%;
}
.text-fb 
{
    background: linear-gradient(#3B579D, #3B579D);border-radius: 3px;padding: 0px 0px;height: 41px;
}
.img-fb 
{
    width: 50px;float: left;background: #3B579D;padding: 2px 2px;border: 1px solid #354E8E;border-top-left-radius: 3px;border-bottom-left-radius: 3px;
}
.connect-fb 
{
    float: left;padding: 10px 10px;color: #fff;text-shadow: 0 -1px rgba(0,0,0,0.25);font-weight: 500;
}
@media screen and (max-width:1920px) and (min-width:1200px){
#login-by
{
    width: 28%;
}
.connect-fb
{
    width: 78%;text-align: center;
}  
}
@media screen and (max-width:1199px) and (min-width:992px){
#login-by
{
    width: 33%;
}  
.connect-fb
{
    width: 77%;text-align: center;
}  
}
@media screen and (max-width:991px) and (min-width:768px){
#login-by
{
    width: 34%;
}  
.connect-fb
{
    width: 77%;text-align: center;
}
}
@media screen and (max-width:767px) and (min-width:481px){
#login-by
{
    width: 52%;
}
.connect-fb
{
    width: 77%;text-align: center;
}  
}
@media screen and (max-width:480px) and (min-width:1px){
#login-by
{
    width: 62%;
}
.connect-fb
{
    width: 77%;text-align: center;
}  
}